In [53]:
import pandas as pd
from datetime import datetime
from pathlib import Path
import sqlite3 as sql
import os

# CRIANDO O BANCO DE DADOS

In [54]:
endereco = endereco = Path( os.getcwd() + '\\Bancos de Dados\\')

BDODS = endereco / "pascoaODS.db"
BDDW = endereco / "pascoaDW.db"

if endereco.exists():
    print("Endereço existe!")
    if (BDODS.exists() and BDDW.exists()):
        print("Bancos de dados já existem!")
    else:
        BDODS.touch()
        BDDW.touch()
        print("Bancos de dados acabaram de ser criados!")
else:
    print("Endereço não existe. Favor, verificar!")

Endereço existe!
Bancos de dados já existem!

# CONECTANDO AO BANCO DE DADOS DW

In [55]:
# estabelece conexão ao banco de dados BDDW
conexaoBDDW = sql.connect(BDDW)
# definição da manipulação de dados em SQL
SQL_DW = conexaoBDDW.cursor()

# CRIANDO A TABELA E ÍNDICE DA DIMENSÃO DE PERÍODO (dPeriodo)

In [56]:
# criar a tabela dPeriodo no BDDW
query_dPeriodo = '''

    CREATE TABLE IF NOT EXISTS dPeriodo
    (
    idPeriodo INTEGER PRIMARY KEY AUTOINCREMENT,
    data DATETIME,
    mes INTEGER,
    ano INTEGER,
    trimestre INTEGER,
    semestre INTEGER
    )
'''

# executa a query de criação da tabela
SQL_DW.execute(query_dPeriodo)

query_idx_dPeriodo_idPeriodo = "CREATE INDEX IF NOT EXISTS idx_dPeriodo_idPeriodo ON dPeriodo (idPeriodo)"

# executa a query de criação do index
SQL_DW.execute(query_idx_dPeriodo_idPeriodo)

# não há necessidade de confirmar a transação

# DELETANDO DADOS ANTIGOS E REINICIANDO O AUTOINCRIMENTAL DA CHAVE

In [57]:
# 
SQL_DW.execute('DELETE FROM dPeriodo')
               
# confirmar transação
conexaoBDDW.commit()
               
# reiniciar o autoincremento do índice
SQL_DW.execute("UPDATE sqlite_sequence SET seq=0 where name='dPeriodo'")

# confirmar transação
conexaoBDDW.commit()

# INSERINDO DADOS EM dPeriodo

In [58]:
print('Iniciando a inserção de dados na tabela dPeriodo')

query_dPeriodo = '''
    -- COMMON TABLE EXPRESSION

    WITH data(d) AS
    (
        VALUES('2018-01-01')
        UNION ALL
        SELECT date(d, '+1 month')
        FROM data
        WHERE d < '2021-12-01'
    )
    SELECT 
        strftime('%d/%m/%Y', d) as data,
        strftime('%m', d) as mes,
        strftime('%Y', d) as ano,
        case
            when cast(strftime('%m', d) as integer) in (1,2,3) then 1
            when cast(strftime('%m', d) as integer) in (4,5,6) then 2
            when cast(strftime('%m', d) as integer) in (7,8,9) then 3
                                                               else 4
        end as trimestre,    
        case
            when cast(strftime('%m', d) as integer) in (1,2,3,4,5,6) then 1
                                                                     else 2
        end as semestre

    FROM data;
'''

dPeriodo = pd.read_sql(query_dPeriodo, conexaoBDDW)

#
SQL_DW.executemany('''INSERT INTO dPeriodo (data, mes, ano, trimestre, semestre) VALUES (?, ?, ?, ?, ?)''', dPeriodo.values.tolist())

# confirmar a transação
conexaoBDDW.commit()

print('Carga de', len(dPeriodo), 'registros em dPeriodo finalizada ')

Iniciando a inserção de dados na tabela dPeriodo
Carga de 48 registros em dPeriodo finalizada

# VALIDANDO DADOS DE dPeriodo EM DW

In [59]:
pd.read_sql('SELECT * FROM dPeriodo', conexaoBDDW)

    idPeriodo        data  mes   ano  trimestre  semestre
0           1  01/01/2018    1  2018          1         1
1           2  01/02/2018    2  2018          1         1
2           3  01/03/2018    3  2018          1         1
3           4  01/04/2018    4  2018          2         1
4           5  01/05/2018    5  2018          2         1
5           6  01/06/2018    6  2018          2         1
6           7  01/07/2018    7  2018          3         2
7           8  01/08/2018    8  2018          3         2
8           9  01/09/2018    9  2018          3         2
9          10  01/10/2018   10  2018          4         2
10         11  01/11/2018   11  2018          4         2
11         12  01/12/2018   12  2018          4         2
12         13  01/01/2019    1  2019          1         1
13         14  01/02/2019    2  2019          1         1
14         15  01/03/2019    3  2019          1         1
15         16  01/04/2019    4  2019          2         1
16         17  01/05/2019    5  2019          2         1
17         18  01/06/2019    6  2019          2         1
18         19  01/07/2019    7  2019          3         2
19         20  01/08/2019    8  2019          3         2
20         21  01/09/2019    9  2019          3         2
21         22  01/10/2019   10  2019          4         2
22         23  01/11/2019   11  2019          4         2
23         24  01/12/2019   12  2019          4         2
24         25  01/01/2020    1  2020          1         1
25         26  01/02/2020    2  2020          1         1
26         27  01/03/2020    3  2020          1         1
27         28  01/04/2020    4  2020          2         1
28         29  01/05/2020    5  2020          2         1
29         30  01/06/2020    6  2020          2         1
30         31  01/07/2020    7  2020          3         2
31         32  01/08/2020    8  2020          3         2
32         33  01/09/2020    9  2020          3         2
33         34  01/10/2020   10  2020          4         2
34         35  01/11/2020   11  2020          4         2
35         36  01/12/2020   12  2020          4         2
36         37  01/01/2021    1  2021          1         1
37         38  01/02/2021    2  2021          1         1
38         39  01/03/2021    3  2021          1         1
39         40  01/04/2021    4  2021          2         1
40         41  01/05/2021    5  2021          2         1
41         42  01/06/2021    6  2021          2         1
42         43  01/07/2021    7  2021          3         2
43         44  01/08/2021    8  2021          3         2
44         45  01/09/2021    9  2021          3         2
45         46  01/10/2021   10  2021          4         2
46         47  01/11/2021   11  2021          4         2
47         48  01/12/2021   12  2021          4         2

# FECHANDO A CONEXÃO COM DW

In [60]:
conexaoBDDW.close()